target/classes/voag-back-end.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	version="EE-3.6.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">

  
	<db:mysql-config name="MySQL_Configuration" host="${voag.host}"
		port="${voag.port}" user="${voag.user}" password="${voag.assword}"
		database="${voag.database}" doc:name="MySQL Configuration" />

	<flow name="createAnOrderInDB-subflow">
		<logger message="payload before inserting to database is: #[payload]"
			level="INFO" doc:name="Logger" />
		<json:json-to-object-transformer
			returnClass="java.util.HashMap" doc:name="transformFromJSONToHashMap" />
		<db:insert config-ref="MySQL_Configuration" doc:name="createAnOrder">
			<db:parameterized-query><![CDATA[insert into voagOrder (firstname,lastname, shirtSize,quantity,email) values (#[payload.firstname],#[payload.lastname],#[payload.shirtSize],#[payload.quantity],#[payload.email])]]></db:parameterized-query>
		</db:insert>
		<db:select config-ref="MySQL_Configuration" doc:name="selectTheOrderId">
            <db:parameterized-query><![CDATA[select id from voagOrder Order BY id DESC LIMIT 1]]></db:parameterized-query>
		</db:select>
	</flow>

	<flow name="getOrderInventoryFromDB-subflow">
		<db:select config-ref="MySQL_Configuration" doc:name="fetchInventories">
			<db:parameterized-query><![CDATA[select * from voagOrder]]></db:parameterized-query>
		</db:select>
		<logger message="payload after fetching from database is: #[payload]"
			level="INFO" doc:name="Logger" />
	</flow>
    
    <flow name="getOrderByOrderIdFromDB-subflow">
		<db:select config-ref="MySQL_Configuration" doc:name="fetchInventories">
			<db:parameterized-query><![CDATA[select * from voagOrder where id=#[flowVars['orderId']]]]></db:parameterized-query>
		</db:select>
	<logger message="payload after fetching from database is: #[payload]"
			level="INFO" doc:name="Logger" />
  <scripting:component doc:name="verifyForOrderId">
    <scripting:script engine="groovy">
      <![CDATA[
       if(payload.size()==0){
	       throw new org.mule.module.apikit.exception.NotFoundException("Order id does not exist!"); 
	  }else{
	     return payload;
	  }
	 ]]>
    </scripting:script>
   </scripting:component>		
	</flow>

</mule>
